.col-lg-3 .box a{
    margin: 0px;
}

.text h6{
    color:white;
}

#contactid{
   
    margin-bottom: 10%;
}

.box1 a{
    margin: 0px;
}

.heading{
    margin-left: 40%;
}

.col-lg-12{
    margin-bottom: 10%;
}